html,
body{
  font-family: Helvetica;
  font-size: 18px;
}

.container{
  display: flex;
  align-items: center;
/*  justify-content: center;*/
  width: 960px;
/*  margin: 0 225px;*/
/*  border: 1px solid yellow;*/
  /*  border property just as visualization aid*/
}


/*Header section*/

.paceholder{ /*whatever is does, it makes appear the background-image in .middle-head-->*/
}

.black-top{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
/*  height: 95px;*/
  color: white;
  padding: 0.66rem 0;
}

.logo{
/*  width: 48px;*/
/*  height: auto;*/
  height: 1.5rem;
  width: auto;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

.black-top p{
  font-size: 1rem;
}

.middle-head{
  display: flex;
/*  flex-direction: column;*/
  justify-content: center;
  background-image: url(../moto.jpeg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
}

.container{
  display: flex;
/*  align-items: center;*/
/*  justify-content: center;*/
  width: 960px;
/*  margin: 0 225px;*/
/*  border: 1px solid yellow;*/
  /*  border property just as visualization aid*/
}

.black-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
/*  height: 200px;*/
  width: 20rem;
  background-color: black;
  color: white;
  padding: 2rem 3rem;
  margin-top: 7rem;
}

.black-box *{
  padding: 0.25rem 0;
/*  line-height: 3rem;*/
  font-size: 1rem,
  font-weight: bold;
}

.black-box h2{
  font-size: 2rem;
  font-family: Helvetica;
  font-weight: bold;
}


.red-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: firebrick;
/*  height: 57px;*/
  padding: 0.75rem 0;
}

.container-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 960px;
/*  margin: 0 225px;*/
/*  border: 1px solid green;*/
/*  border property just as visualization aid*/
}

a{
  color: white;
  text-decoration: none;
}


/*Middle section*/

.main-section{
  display: flex;
  justify-content: center;
  
}

.container-pictures{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 960px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  
/*  margin: 2.5rem 225px;*/
/*  border: 1px solid green;*/
  /*  border property just as visualization aid*/
}

.product{
  display: flex;
  flex-direction: column;
  width: 30%;
/*  height: 300px;*/
/*  border: 3px dotted red;*/
/*  border property just as visualization aid*/
}

.image{
  width: auto;
  height: 9rem;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid black;
  padding: 2rem 0;
}

.pen{
  background-image: url(../pen.png);
}

.watch{
  background-image: url(../watch.png);
}

.glasses{
  background-image: url(../glasses.png);
}

.capture{
  display: flex;
  justify-content: center;
  align-items: center;
/*  height: 2rem;*/
  background-color: black;
  color: white;
  padding: 0.5rem;
}


.container-location-hour{
  display: flex;
  flex-direction: column;
  width: 450px;
  margin-bottom: 1rem;
/*  border: 3px dotted red;*/
}

.location{
  display: flex;
/*  justify-content: center;*/
  align-items: center;
  width: 65%;
/*  height: 2rem;*/
  background-color: black;
  color: white;
  padding: 1rem 0 1rem 2rem;
}

.number{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 65%;
  height: 2rem;
/*  padding: 0.5rem;*/
  margin-top: 1rem;
  font-weight: bold;
}

/*Footer section*/

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-weight: bold;
  height: 10rem;
}

.container-footer{
  display: flex;
  align-items: center;
  width: 960px;
/*  margin: 0 225px;*/
/*  border: 1px solid yellow;*/
  /*  border property just as visualization aid*/
}

